Scenario/Routing.rou.xml filter=lfs diff=lfs merge=lfs -text
Scenario/Output/VehTraces.tar.gz filter=lfs diff=lfs merge=lfs -text
Scenario/Output/DetectorsOutput.xml filter=lfs diff=lfs merge=lfs -text
Scenario/Trip.odtrips.xml filter=lfs diff=lfs merge=lfs -text
Scenario/TuST.net.xml filter=lfs diff=lfs merge=lfs -text
